body {
  font-family: sans-serif;
  background-color: #0b75a6;
}

.announcement-bar {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.nav-bar {
  text-align: center;
  padding: 20px;
  font-size: 32px;
  letter-spacing: 6px;
}